@{
    ViewData["Title"] = "Créditos";
}
<h1>@ViewData["Title"]</h1>

<p>Atividade desenvolvida em dupla por:</p>
<p>Andreza do Nascimento Pessoa Matricula: Cb3012191</p>
<p>Lidiane Souza Soares Matricula: CB3012026</p>